{% extends 'location_merriot.html' %}
    {% block modal %}


<!-- Modal -->
<div class="modal fade" id="test" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{ info['_day'] }}</h5>
        <a href="{{ url_for('location_merriot') }}" type="button" class="btn-close" aria-label="Close"></a>
      </div>
      <div class="modal-body">
  <h5> {{ info['_start_time'] }} - {{ info['_end_time'] }}</h5>
  <p>This class is aimed at {{ info['_level'] }}</p>
  <hr>
  <h6>Further Information</h6>
  <p>{{ info['_info'] }}</p>
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('location_merriot') }}" type="button" class="btn btn-secondary">Cancel Booking</a>
         <form method="POST">
     {{ form.hidden_tag() }}
      <div class="col-12">
        {{ form.submit(
        class="btn btn-primary") }}
      </div>
    </form>
      </div>
    </div>
  </div>
</div>
    {% endblock %}

{% block script %}
    <script>

    $(document).ready(function(){
        console.log("Pop-up Window Loaded")
        $("#test").modal("show")
    })
    </script>
{% endblock %}
