{% extends 'base.html'  %}
{% block content %}
 <div class="container">

    <h1>Create a New Lesson</h1>
    <br/>

    <form class="row g-3 border border-3 p-3 bg-white" method="POST">
     {{ form.hidden_tag() }}

      <div class="col-sm-6">
       {{ form.day.label(
        class="form-label") }}
        {{ form.day(
        class="form-control") }}
      </div>
      <div class="col-sm-2">
        {{ form.lesson_start.label(
        class="form-label") }}
        {{ form.lesson_start(
        class="form-control") }}
      </div>
      <div class="col-sm-2">
        {{ form.lesson_end.label(
        class="form-label") }}
        {{ form.lesson_end(
        class="form-control") }}
      </div>

         <div class="col-sm-2">
        {{ form.maximum.label(
        class="form-label") }}
        {{ form.maximum(
        class="form-control") }}
      </div>
        <div class="col-md-6">
        {{ form.location.label(
        class="form-label") }}
        {{ form.location(
        class="form-control") }}
      </div>
      <div class="col-md-6">
        {{ form.level.label(
        class="form-label") }}
        {{ form.level(
        class="form-control") }}
      </div>



      <div class="col-12">
        {{ form.information.label(
        class="form-label") }}
        {{ form.information(
        class="form-control", rows="4", placeholder="Enter Additional information to be displayed upon booking...") }}
      </div>

      <div class="col-12">
        {{ form.submit(
        class="btn btn-primary") }}
      </div>
    </form>

    <br/><br/><br/>
 </div>
{% endblock %}