{% extends 'base.html'  %}
{% block content %}
 <div class="container">


{% if session['manage_user'] %}
      <h1>Account has been created!</h1>
            <br/><br/>
        <div class="card">
      <div class="card-header">
        {{ session['manage_user']['_email'] }}
      </div>
      <div class="card-body">
        <h5 class="card-title">Account Details:</h5>
        <p class="card-text">
            <strong>First Name:</strong> {{ session['manage_user']['_first_name'] }}<br/>
            <strong>Last Name:</strong> {{ session['manage_user']['_last_name'] }}<br/>
            <strong>Age:</strong> {{ session['manage_user']['_age'] }}<br/>
            <strong>Belt:</strong> {{ session['belt_name'] }}<br/>
            <strong>Date Joined:</strong> {{ session['manage_user']['_date_added'] }}<br/>
            <strong>Account Type:</strong> {{ session['manage_user']['_authority'] }}<br/>
        </p>
      </div>
    </div>
    <br/>
    <a href="{{ url_for('create_student') }}" class="btn btn-outline-primary btn-sm">Create New Account</a>
    <a href="{{ url_for('edit_account') }}" class="btn btn-outline-secondary btn-sm">Edit Account</a>
    <a href="{{ url_for('delete_account') }}" class="btn btn-outline-danger btn-sm">Delete Account</a>
{% else %}


    <h1>Create a New User</h1>
    <br/>

    <form class="row g-3 border border-3 p-3 bg-white" method="POST">
     {{ form.hidden_tag() }}

      <div class="col-12">
       {{ form.email.label(
        class="form-label") }}
        {{ form.email(
        class="form-control", placeholder="Example@email.com") }}
      </div>
      <div class="col-md-6">
        {{ form.password.label(
        class="form-label") }}
        {{ form.password(
        class="form-control") }}
      </div>
      <div class="col-md-6">
        {{ form.password_match.label(
        class="form-label") }}
        {{ form.password_match(
        class="form-control") }}
      </div>
        <div class="col-md-6">
        {{ form.first_name.label(
        class="form-label") }}
        {{ form.first_name(
        class="form-control") }}
      </div>
      <div class="col-md-6">
        {{ form.last_name.label(
        class="form-label") }}
        {{ form.last_name(
        class="form-control") }}
      </div>
      <div class="col-2">
        {{ form.age.label(
        class="form-label") }}
        {{ form.age(
        class="form-control") }}

      </div>

      <div class="col-md-4">
        {{ form.belt_id.label(
        class="form-label") }}
        {{ form.belt_id(
        class="form-select") }}
      </div>
      <div class="col-md-2">
         {{ form.authority.label(
        class="form-label") }}
        {{ form.authority(
        class="form-select") }}
      </div>

      <div class="col-12">
        {{ form.submit(
        class="btn btn-primary") }}
      </div>
    </form>

    <br/><br/><br/>
{% endif %}
 </div>
{% endblock %}