{% extends 'base.html'  %}
{% block content %}



{% if session['manage_user']  %}
      <h1>Account has been created!</h1>
            <br/><br/>
        <div class="card">
      <div class="card-header">
        {{ session['manage_user']['_email'] }}
      </div>
      <div class="card-body">
        <h5 class="card-title">Account Details:</h5>
        <p class="card-text">
            <strong>First Name:</strong> {{ session['manage_user']['_first_name'] }}<br/>
            <strong>Last Name:</strong> {{ session['manage_user']['_last_name'] }}<br/>
            <strong>Age:</strong> {{ session['manage_user']['_age'] }}<br/>
            <strong>Belt:</strong> {{ session['belt_name'] }}<br/>
            <strong>Date Joined:</strong> {{ session['manage_user']['_date_added'] }}<br/>
            <strong>Account Type:</strong> {{ session['manage_user']['_authority'] }}<br/>
        </p>
      </div>
    </div>
    <br/>
    <a href="{{ url_for('create_student') }}" class="btn btn-outline-primary btn-sm">Create New Account</a>
    <a href="{{ url_for('edit_account') }}" class="btn btn-outline-secondary btn-sm">Edit Account</a>
    <a href="{{ url_for('delete_account') }}" class="btn btn-outline-danger btn-sm">Delete Account</a>
{% else %}


    <h1>Create a New Lesson</h1>
    <br/>

    <form class="row g-3 border border-3 p-3 bg-white" method="POST">
     {{ form.hidden_tag() }}

      <div class="col-sm-6">
       {{ form.day.label(
        class="form-label") }}
        {{ form.day(
        class="form-control") }}
      </div>
      <div class="col-sm-2">
        {{ form.lesson_start.label(
        class="form-label") }}
        {{ form.lesson_start(
        class="form-control") }}
      </div>
      <div class="col-sm-2">
        {{ form.lesson_end.label(
        class="form-label") }}
        {{ form.lesson_end(
        class="form-control") }}
      </div>

         <div class="col-sm-2">
        {{ form.maximum.label(
        class="form-label") }}
        {{ form.maximum(
        class="form-control") }}
      </div>
        <div class="col-md-6">
        {{ form.location.label(
        class="form-label") }}
        {{ form.location(
        class="form-control") }}
      </div>
      <div class="col-md-6">
        {{ form.level.label(
        class="form-label") }}
        {{ form.level(
        class="form-control") }}
      </div>



      <div class="col-12">
        {{ form.information.label(
        class="form-label") }}
        {{ form.information(
        class="form-control", rows="4", placeholder="Enter Additional information to be displayed upon booking...") }}
      </div>

      <div class="col-12">
        {{ form.submit(
        class="btn btn-primary") }}
      </div>
    </form>

    <br/><br/><br/>
{% endif %}
{% endblock %}