{% extends 'base.html'  %}
{% block content %}

      <div class="row-sm g-6 border border-2 p-3 bg-white" style="background-image; background-size: cover; padding-top: 200px; text-align: center;">

      <div class="container">


      <h1 style="font-size:90px; margin:50px;">Nishikan Martial Arts</h1>


        <h2>Welcome to the User Dashboard</h2>
            <br/>

     <a href="{{url_for('location_choice')}}"> <button style="font-size: 70px; padding-bottom: 10px;padding-left: 50px;padding-right: 50px; border-radius: 80px" type="button" class="btn btn-dark ">  Book a Lesson  </button></a>
        <br/><br/>
    <div class="card">
      <div class="card-header">
       <strong> {{ session['user']['_email'] }}</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title">Your Account: </h5>
        <p class="card-text">
            <strong>First Name:</strong> {{ session['user']['_first_name'] }}<br/>
            <strong>Last Name:</strong> {{ session['user']['_last_name'] }}<br/>
            <strong>Belt:</strong> {{ belt_name }}<br/>
            <strong>Date Joined:</strong> {{ date_added }}<br/>
        </p>
        <a href="{{ url_for('logout')}}" class="btn btn-primary btn-sm">Logout</a>
      </div>


    </div>


     </div>
      </br>
          </br>
          </br>

      <br/><br/><br/><br/>
        </div>


{% endblock %}