{% extends 'base.html'  %}
{% block content %}

        <h2>Dashboard</h2>
            <br/><br/>


    <div class="card">
      <div class="card-header">
       <strong> {{ session['user']['_email'] }}</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title">Welcome To Your User Dashboard</h5>
        <p class="card-text">
            <strong>First Name:</strong> {{ session['user']['_first_name'] }}<br/>
            <strong>Last Name:</strong> {{ session['user']['_last_name'] }}<br/>
            <strong>Belt:</strong> {{ belt_name }}<br/>
            <strong>Date Joined:</strong> {{ date_added }}<br/>
        </p>
        <a href="{{ url_for('logout')}}" class="btn btn-primary btn-sm">Logout</a>
      </div>
    </div>


      
{% endblock %}