{% extends 'base.html'  %}
{% block content %}

      <div class="row-xxl g-6 border border-2 p-3 bg-white" style="background-image; background-size: cover; padding-top: 200px; text-align: center;">
        <div class="container">
            <br/><br/><br/>





      <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
   <div class="card shadow p-3 mb-5 " style="border-radius: 30px; width: 400px">

    <div class="card-body">
      <h5 class="card-title">Queen Camel</h5>
        <a href="{{url_for('location_queen_camel')}}"> <button style="font-size: 25px; padding-bottom: 10px;padding-left: 20px;padding-right: 20px; border-radius: 40px" type="button" class="btn btn-primary ">  Select</button></a>
        </br></br>
     <p class="card-text">Queen Camel Village Hall, High St, Queen Camel, Yeovil </br>BA22 7NF
          </br>
            Instructor: Steve Mortley
      </p>
    </div>
       </div>

  </div>
              <div class="col">
  <div class="card shadow p-3 mb-5 " style="border-radius: 30px; width: 400px">

    <div class="card-body">
      <h5 class="card-title">Wincanton</h5>
        <a href="{{url_for('location_wincanton')}}"> <button style="font-size: 25px; padding-bottom: 10px;padding-left: 20px;padding-right: 20px; border-radius: 40px" type="button" class="btn btn-primary ">  Select</button></a>
        </br></br>
      <p class="card-text">10 The Tythings, Southgate Road, Wincanton, Somerset </br>BA9 9RZ
          </br>
            Instructor: Paul Hacker
      </p>
    </div>
      </div>

  </div>

                  <div class="col">
  <div class="card shadow p-3 mb-5 " style="border-radius: 30px; width: 400px">
    <div class="card-body">
      <h5 class="card-title">Merriott</h5>
        <a href="{{url_for('location_merriot')}}"> <button style="font-size: 25px; padding-bottom: 10px;padding-left: 20px;padding-right: 20px; border-radius: 40px" type="button" class="btn btn-primary ">  Select</button></a>
        </br></br>
      <p class="card-text">Merriott Social Club, 71 Lower St, Merriott  </br></br>TA16 5NP
          </br>
            Instructor: Brett Jacobs
      </p>
    </div>
      </div>
                  </div>
  </div>
</div>
            </div>
      <br/><br/><br/>
        </div>

{% endblock %}