{% extends 'base.html'  %}
{% block content %}


      <div class="row-sm g-6 border border-2 p-3 bg-white" style="background-size: cover; padding-top: 200px; text-align: center;">
        <div class="container" style="background-color: white; border-radius: 30px">
       <br/>
            <h1><u><b>Lessons</b></u></h1>
            <h2><b>Wincanton</b></h2>
        </br><a href="{{url_for('location_choice')}}"> <button style="font-size: 25px; padding-bottom: 10px;padding-left: 20px;padding-right: 20px; border-radius: 40px" type="button" class="btn btn-warning ">View Locations</button></a>
        <br/><br/>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for lesson in lessons %}
  <div class="col">
    <div class="card shadow p-3 mb-5 " style="border-radius: 30px">
      <div class="card-body">
          <h5 class="card-title"><u>{{ lesson[1] }}</u></h5>
          <p class="card-text"><b>Time</b> </br> {{ lesson[3] }} - {{ lesson[4] }}
        </br></br>
          <b>Maximum Capacity</b>
              </br>
          {{ lesson[6] }}
          </br>

          </p>
          <a href="{{url_for('book_lesson_wincanton', id=lesson[0])}}"> <button style="font-size: 25px; padding-top: 20px; padding-bottom: 20px;padding-left: 50px;padding-right: 50px; border-radius: 40px; width: 300px" type="button" class="btn btn-primary shadow-sm p-3 mb-5 ">Book</button></a>
            {% if session['user'] != none %}
              {% if session['user']['_authority'] == 'instructor' %}
                  <a href="{{url_for('delete_lesson', id=lesson[0])}}"> <button style="font-size: 25px; padding-top: 20px; padding-bottom: 20px;padding-left: 50px;padding-right: 50px; border-radius: 40px; width: 300px" type="button" class="btn btn-danger shadow-sm p-3 mb-5 ">Delete</button></a>
            {% endif %}
            {% endif %}
      </div>
    </div>
  </div>
 {% endfor %}
            </div>
      <br/><br/><br/>
        </div>
      </div>

    {% block modal %} {% endblock %}

    {% block script %} {% endblock %}

{% endblock %}