{% extends 'base.html'  %}
{% block content %}

<div class="container shadow p-3 mb-5 rounded bg-white">
    <form class="d-flex" method = "POST">
        {{ form.hidden_tag() }}

        {{ form.search(
        class="form-control me-2", placeholder="Search by Last Name") }}
        {{ form.submit(
            class="btn btn-secondary") }}
      </form>
</div>


    {% if users %}

<div class ="container">
    <table class="table table-striped table-hover shadow p-3 mb-5 rounded bg-white">
        <thead class="table-dark">
    <tr>
      <th scope="col">Email</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Date joined</th>
        <th scope="col">Approved</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
  </thead>
        {% for user in users %}
        <tr>
            <td>{{ user[2] }}</td>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[3] }}</td>
            <td>{% if user[4] == 1 %}
                <p>Approved</p>
                {% else %}
                <p><a href="{{ url_for('approve_manage_accounts', id=user[5])}}" class="btn btn-primary btn-sm">Approve</a></p>
                {% endif %}
            </td>
            <td><a href="{{ url_for('edit_manage_accounts', id=user[5])}}" class="btn btn-outline-primary btn-sm">Edit</a></td>
        <td><a href="{{ url_for('delete_manage_accounts', id=user[5])}}" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
        {% endfor %}

    </table>
</div>
     </div>
    {% endif %}
      </br>
          </br>
          </br>

      <br/><br/><br/><br/>


{% endblock %}