<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('index')}}">Nishikan Martial Arts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

         {% if session['user'] != None %}
            <li>
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>

            <li>
              <a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a>
            </li>
             <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Lessons
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{url_for('location_choice')}}">Book a lesson</a></li>
                    <li><a class="dropdown-item" href="{{url_for('view_bookings')}}">View Bookings</a></li>
                  </ul>
                    </li>

         {% endif %}
        {% if session['user'] == None %}
            <li>
              <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            <li>
              <a class="nav-link" href="{{url_for('signup')}}">Sign up</a>
            </li>

        {% endif %}

          {% if session['user'] != none %}
              {% if session['user']['_authority'] == 'instructor' %}

                     <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Create
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{url_for('create_lesson')}}">New Lesson</a></li>
                    <li><a class="dropdown-item" href="{{url_for('create_student')}}">New Student</a></li>

                  </ul>
                    </li>
                  <li>
              <a class="nav-link" href="{{url_for('manage_accounts')}}">Manage Users</a>
            </li>
              {% endif %}
            {% endif %}
      </ul>
    </div>
  </div>
</nav>