{% extends 'base.html'  %}
{% block content %}
 <div class="container">

    <h1>Sign Up</h1>
    <br/>

    <form class="row g-3 border border-3 p-3 bg-white" method="POST">
     {{ form.hidden_tag() }}

      <div class="col-12">
       {{ form.email.label(
        class="form-label") }}
        {{ form.email(
        class="form-control", placeholder="Example@email.com") }}
      </div>

      <div class="col-md-6">
        {{ form.password.label(
        class="form-label") }}
        {{ form.password(
        class="form-control") }}
      </div>
      <div class="col-md-6">
        {{ form.password_match.label(
        class="form-label") }}
        {{ form.password_match(
        class="form-control") }}
      </div>
        <div class="col-md-6">
        {{ form.first_name.label(
        class="form-label") }}
        {{ form.first_name(
        class="form-control") }}
      </div>
      <div class="col-md-6">
        {{ form.last_name.label(
        class="form-label") }}
        {{ form.last_name(
        class="form-control") }}
      </div>

      <div class="col-2">
        {{ form.age.label(
        class="form-label") }}
        {{ form.age(
        class="form-control") }}

      </div>

      <div class="col-12">
        {{ form.submit(
        class="btn btn-primary") }}
      </div>
    </form>

    <br/><br/><br/>
    </div>
{% endblock %}